

<template>
  <div class="book-details">
    <bookView v-if="book != null" :book="book" :details="true"></bookView>
  </div>
</template>

<script>
import bookView from "../bookView";
export default {
  data() {
    return {
      book: null
    };
  },
  components: {
    bookView
  },
  mounted() {
    // there eis no id on book so we use index to get the book from the service books
    this.book = bookService.books[this.$route.params.id];
  }
};
</script>

<style>
</style>