

<template>
  <div>
    <topBook></topBook>
    <topVoted></topVoted>
  </div>
</template>

<script>
import topBook from "../topBook";
import topVoted from "../topVoted";
export default {
  components: {
    topBook,
    topVoted
  },
  mounted() {
    console.log("home comp view");
  }
};
</script>

<style>
</style>