

<template>
  <div>
    <topBook></topBook>
  </div>
</template>

<script>
import topBook from "../topBook";
export default {
  components: {
    topBook
  },
  mounted() {
    console.log("home comp view");
  }
};
</script>

<style>
</style>