

<template>
  <div class="top-books-all-time">
    <h1 class="title">Top Book All Time</h1>
    <div class="search">
      <input type="text" v-model="search" placeholder="TYPE SEARCH FOR BOOKS: ex: don quixote " />
    </div>
    <div class="columns row">
      <bookView
        :row="true"
        :full-info="true"
        v-for="(book, index) in books"
        :key="index"
        :keyIndex="(index + 1)"
        :book="book"
      ></bookView>
    </div>
  </div>
</template>

<script>
import bookView from "../bookView";

export default {
  components: {
    bookView
  },
  data() {
    return {
      search: ""
    };
  },
  computed: {
    books() {
      if (this.search.length > 0) {
        return window.bookService.getTopVoted().filter(book => {
          return (
            book.title.toLowerCase().indexOf(this.search.toLowerCase()) >= 0 ||
            book.synopsis.toLowerCase().indexOf(this.search.toLowerCase()) >= 0
          );
        });
      } else return window.bookService.getTopVoted();
    }
  },
  mounted() {
    console.log("home comp view");
  }
};
</script>

<style>
</style>