@import "mixins";
@import "helpers";

$primary: #deb509;
$secondary: #ccc;
$text: #242323;
$hightlight: #916a37;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

// Buttons
button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.upvoted {
  background: white;
  color: $primary;
  border: 2px solid $primary;
}

.upvote {
  background: $primary;
  color: white;
  border: 2px solid transparent;
}

input {
  color: $text;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid $primary;
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0rem;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  min-height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.container {
  justify-content: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 7px 1px #c3b88d;
  @include hd {
    width: 1180px;
  }

  .contents {
    padding: 2rem;
  }
}

nav {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
  max-height: 3rem;

  .logo {
    background-color: $secondary;
    margin-right: auto;
    text-align: center;
    padding: 7px 1rem;
    width: 200px;
    border-radius: 5px;
    border-radius: 5px;
    height: 18px;
    margin: 0.65rem;
  }
  ul {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    list-style-type: none;
    padding: 0rem;
    @include mobile {
      flex-direction: column;
    }
    li {
      text-align: center;
      a {
        color: $text;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;

        &:focus,
        &.router-link-exact-active {
          color: white;
          background-color: $primary;
        }
      }
    }
  }
}

footer {
  width: 100%;
  max-height: 3.2rem;
  background-color: #333;
  display: flex;
  flex-grow: 1;

  justify-content: center;
  margin-top: auto;
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    @include mobile {
      flex-direction: column;
    }

    li {
      text-align: center;
      a {
        cursor: pointer;
        color: white;
        padding: 1rem 2rem;
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.columns {
  display: flex;
  align-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;

  &.row {
    flex-direction: column;
  }
}

// generic class for book images
.book-image {
  box-shadow: 0px 0px 3px 3px rgb(175, 175, 175);
}

//TOP BOOKS

.top-book {
  .title {
    margin-bottom: 3rem;
    font-weight: 500;
  }
  .book {
    display: flex;

    img {
      max-width: 300px;
      border-radius: 12px;
      min-width: 200px;
    }
    .details {
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
      padding-right: 1rem;
    }
  }
}

//TOP VOTED

.top-books-all-time {
  .title {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: bold;
    color: $primary;
  }
  .search {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    input {
      display: flex;
      min-width: 380px;
    }
  }
}

.top-voted {
  margin-top: 5rem;
  .title {
    margin-bottom: 3rem;
    font-weight: bold;
  }
}

.book {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;

  &.details-info {
    width: 100%;
    min-width: 100%;

    .custom {
      margin-bottom: 3rem;
      h1 {
        color: $primary;
      }
    }
    .details-data {
      display: flex;
      flex-direction: row;

      img {
        min-width: 400px !important;
        max-width: 400px !important;
        width: 100% !important;
      }
      .stats {
        margin-left: auto;
      }
    }

    // BOOK DETAILS

    img {
      min-width: 300px !important;
      width: auto !important;
      height: auto !important;
    }
  }

  &.row {
    margin-bottom: 3rem;
    flex-direction: row;
    width: calc(100% - 2rem) !important;

    &.full-info {
      flex-direction: row-reverse;

      h3 {
        color: $hightlight;
      }

      h5 {
        font-style: italic;
      }

      .stats {
        display: flex;
        margin-top: auto;
        margin-bottom: 2rem;

        span {
          position: relative;
          top: 10px;
        }
      }
    }

    .details {
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
    }
  }
  .img-wrapper {
    display: flex;
    justify-content: center;
    img {
      display: flex;
      border-radius: 12px;
      margin-bottom: 2rem;
    }
  }

  @include desktop {
    width: 33.3%;
    img {
      width: 200px;
      height: 280px;
    }
  }

  @include hd {
    width: 33.3%;
    img {
      width: 200px;
      height: 280px;
    }
  }
}
