.p-1 {
  padding: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0.1em;
          margin-block-start: 0.1em;
  -webkit-margin-after: 0.1em;
          margin-block-end: 0.1em;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.upvoted {
  background: white;
  color: #deb509;
  border: 2px solid #deb509;
}

.upvote {
  background: #deb509;
  color: white;
  border: 2px solid transparent;
}

input {
  color: #242323;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid #deb509;
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0rem;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  min-height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.container {
  justify-content: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 7px 1px #c3b88d;
}

@media (min-width: 1441px) {
  .container {
    width: 1180px;
  }
}

.container .contents {
  padding: 2rem;
}

nav {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
  max-height: 3rem;
}

nav .logo {
  background-color: #ccc;
  margin-right: auto;
  text-align: center;
  padding: 7px 1rem;
  width: 200px;
  border-radius: 5px;
  border-radius: 5px;
  height: 18px;
  margin: 0.65rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  list-style-type: none;
  padding: 0rem;
}

@media (max-width: 599px) {
  nav ul {
    flex-direction: column;
  }
}

nav ul li {
  text-align: center;
}

nav ul li a {
  color: #242323;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li a:focus,
nav ul li a.router-link-exact-active {
  color: white;
  background-color: #deb509;
}

footer {
  width: 100%;
  max-height: 3.2rem;
  background-color: #333;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: auto;
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

@media (max-width: 599px) {
  footer ul {
    flex-direction: column;
  }
}

footer ul li {
  text-align: center;
}

footer ul li a {
  cursor: pointer;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
}

footer ul li a:hover {
  color: #deb509;
}

.columns {
  display: flex;
  align-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;
}

.columns.row {
  flex-direction: column;
}

.book-image {
  box-shadow: 0px 0px 3px 3px #afafaf;
}

.top-book .title {
  margin-bottom: 3rem;
  font-weight: 500;
}

.top-book .book {
  display: flex;
}

.top-book .book img {
  max-width: 300px;
  border-radius: 12px;
  min-width: 200px;
}

.top-book .book .details {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 1rem;
}

.top-books-all-time .title {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: bold;
  color: #deb509;
}

.top-books-all-time .search {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.top-books-all-time .search input {
  display: flex;
  min-width: 380px;
}

.top-voted {
  margin-top: 5rem;
}

.top-voted .title {
  margin-bottom: 3rem;
  font-weight: bold;
}

.book {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

.book.details-info {
  width: 100%;
  min-width: 100%;
}

.book.details-info .custom {
  margin-bottom: 3rem;
}

.book.details-info .custom h1 {
  color: #deb509;
}

.book.details-info .details-data {
  display: flex;
  flex-direction: row;
}

.book.details-info .details-data img {
  min-width: 400px !important;
  max-width: 400px !important;
  width: 100% !important;
}

.book.details-info .details-data .stats {
  margin-left: auto;
}

.book.details-info img {
  min-width: 300px !important;
  width: auto !important;
  height: auto !important;
}

.book.row {
  margin-bottom: 3rem;
  flex-direction: row;
  width: calc(100% - 2rem) !important;
}

.book.row.full-info {
  flex-direction: row-reverse;
}

.book.row.full-info h3 {
  color: #916a37;
}

.book.row.full-info h5 {
  font-style: italic;
}

.book.row.full-info .stats {
  display: flex;
  margin-top: auto;
  margin-bottom: 2rem;
}

.book.row.full-info .stats span {
  position: relative;
  top: 10px;
}

.book.row .details {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.book .img-wrapper {
  display: flex;
  justify-content: center;
}

.book .img-wrapper img {
  display: flex;
  border-radius: 12px;
  margin-bottom: 2rem;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .book {
    width: 33.3%;
  }

  .book img {
    width: 200px;
    height: 280px;
  }
}

@media (min-width: 1441px) {
  .book {
    width: 33.3%;
  }

  .book img {
    width: 200px;
    height: 280px;
  }
}

