<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app" v-if="loaded">

    <div class="container">
      <nav>
        <a class="logo">Logo</a>
        <ul>
          <li>
            <router-link to="/">Home</router-link>
          </li>
          <li>
            <router-link to="/just-added">Just added</router-link>
          </li>
          <li>
            <router-link to="/top-books">Top books</router-link>
          </li>
          <li>
            <router-link to="/top-books-all-time">Top books All The Time</router-link>
          </li>


          <li>
            <router-link to="/top-upcomming">Top Upcoming</router-link>
          </li>
        </ul>
      </nav>
      <div class="contents">
        <router-view></router-view>
        <!-- <img src="./images/01.jpg" alt=""> -->
      </div>


      <!-- route outlet -->
      <!-- component matched by the route will render here -->



    </div>
    <footer>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
    </footer>


  </div>
</body>
<!-- SCRIPS WITH UNIQUE TIMESTAMP TO AVOIT BROWSER CACHE RELOAD -->
<script>

  var unique = + new Date();
  var cssStyles = '<link rel="stylesheet" href="/css/app.css?unique=' + unique + '">';
  var jsScrips = '<script src="/js/app.js?unique=' + unique + '"><\/script>';

  document.write(cssStyles);
  document.write(jsScrips);
</script>

</html>