<template>
  <div
    @click="viewBook()"
    class="book"
    :class="[{ 'row' : row === true}, {'full-info': fullInfo }, {'details-info': details }]"
  >
    <div v-if="details" class="details-data">
      <div class="custom">
        <h1 v-text="book.title"></h1>
        <h5 v-text="book.author"></h5>
      </div>
      <div class="stats">
        <span class="mr-1" v-text="'UpVoted ' + book.upvotes + ' Times'"></span>
        <button
          :class="[{'upvoted': book.upvoted},{'upvote': !book.upvoted}]"
          type="button"
          v-text="book.upvoted ? 'Upvoted' : 'Upvote'"
        ></button>
      </div>
    </div>
    <div class="img-wrapper">
      <img class="book-image" :src="book.cover" :alt="book.slug" />
    </div>
    <div class="details">
      <h3 v-if="fullInfo && details == false" v-text="(keyIndex +1) + '. ' + book.title"></h3>
      <h3 v-if="!fullInfo && details == false" v-text="book.title"></h3>
      <h5 v-if="details == false" v-text="book.author"></h5>

      <h3 v-if="details">Synopsis</h3>
      <p v-text="book.synopsis"></p>
      <div v-if="fullInfo" class="stats">
        <button
          :class="[{'upvoted': book.upvoted},{'upvote': !book.upvoted}]"
          type="button"
          v-text="book.upvoted ? 'Upvoted' : 'Upvote'"
        ></button>
        <span class="ml-1" v-text="'UpVoted ' + book.upvotes + ' Times'"></span>
      </div>
      <p v-if="details" v-text="'Rating: '  + book.rating + '/10'"></p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    book: {
      type: Object,
      required: true,
      default: () => {}
    },
    row: {
      type: Boolean,
      default: () => false
    },
    fullInfo: {
      type: Boolean,
      default: () => false
    },
    details: {
      type: Boolean,
      default: () => false
    },
    keyIndex: {
      type: Number,
      required: false,
      default: () => {}
    }
  },
  methods: {
    viewBook() {
      this.$router.push("/book/" + this.keyIndex);
    }
  }
};
</script>


