<template>
  <div class="top-book" @click="viewBook()">
    <h1 class="title">Top Books</h1>
    <div class="book row">
      <img class="book-image" :src="topBook.cover" :alt="topBook.slug" />

      <div class="details">
        <h1 v-text="topBook.title"></h1>
        <h5 v-text="topBook.author"></h5>
        <p v-text="topBook.synopsis"></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      keyIndex: 0
    };
  },
  computed: {
    topBook() {
      this.keyIndex = helperService.random(0, 5);
      // retun on of the top five books
      // i'm going to validatioons here is the service as books or not, we assume it has
      return window.bookService.getTopRating()[this.keyIndex];
    }
  },
  methods: {
    viewBook() {
      this.$router.push("/book/" + this.keyIndex);
    }
  }
};
</script>
