<template>
  <div class="top-voted">
    <h1 class="title">Top Voted</h1>
    <div class="columns">
      <bookView v-for="(book, index) in topBook" :key="index" :book="book" :keyIndex="index"></bookView>
    </div>
  </div>
</template>
<script>
import bookView from "./bookView";
export default {
  components: { bookView },
  computed: {
    topBook() {
      return window.bookService.getTopVoted().slice(0, 3);
    }
  }
};
</script>

 <style lang="scss">
.book {
  display: flex;

  .details {
    display: flex;
    flex-direction: column;
  }
}
</style>